CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.election_options_json
CTestTestfile.cmake
_deps
~/*
/cmake-build-debug-remote/*
/cmake-build-debug-remote-a/*
/cmake-build-debug-remote-b/*
/cmake-build-debug-remote-c/*
/cmake-build-debug-remote-d/*
/build/